<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Spreedly | Engineering" %></title>
    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "highlighting" %>
    <%= javascript_include_tag "all" %>
    <script src="dist/clipboard.min.js"></script>
  </head>
  <body class="<%= page_classes %>">

    <%= partial "partials/header" %>
    <div class="row-body">
      <div class="container-body">
          <div class="articles">
            <%= yield %>
        </div>
      </div>
    </div>
    <%= partial "partials/footer" %>

  </body>
</html>
