---
pageable: true
per_page: 7
---
<% if paginate && num_pages > 7 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <div class="article-abstract">
      <h1><%= link_to article.title, article %></h1>
      <img class="byline-img" src="https://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest("#{article.data.author_email}") %>?s=18&d=mm" />
      <p class="byline"><%= link_to "#{article.data.author}", "#{article.data.author_url}" %></p>
      <br class="rwd-break">
      <img class="byline-img" src="/images/calendar.svg">
      <p class="byline"><%= article.date.strftime('%B %e, %Y') %></p>
      <%= article.summary(700) %>
      <%= link_to "Read More", article, class: 'button' %>
  </div>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<!-- <div class="pagination">
    <div class="next">
      <img src="/images/next.svg"><p><%= link_to 'Next page', next_page %></p>
  </div>
  <div class="prev">
      <p><%= link_to 'Previous page', prev_page %></p><img src="/images/previous.svg">
  </div>
</div> -->
